@typeparam TItem
<!--Labels-->
<div class="row">
    @DivLabels
</div>
<!--Items-->
<div class="row mb-3">
    @foreach (var item in Item)
    {
        @RowItemTemplate(item)
    }
</div>

@code {
    [Parameter]
    public RenderFragment DivLabels { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowItemTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Item { get; set; }
}
